<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @system_task_statu.name %>
</p>


<%= link_to 'Edit', edit_system_task_statu_path(@system_task_statu) %> |
<%= link_to 'Back', system_task_status_path %>
