<style type="text/css">
  #map-canvas *{
    margin: 0;
    padding: 0;
  }
  #map-canvas {
    margin: auto;
    margin-top: 0.4%;
    height:98%;
    display: block;
    width: 99%;
  }
</style>

<div id="map-canvas"></div>
<%= javascript_include_tag 'guara/gmaps' %>
<%= javascript_include_tag 'guara/gmaps_utils' %>
<script type="text/javascript">

  function document_loaded() {
    GMaps_loadScript();
  }
  if (typeof jQuery == 'function') {
    jQuery(function() {
      GMaps_loadScript();
    });
  } else {
    window.onload = document_loaded;
  }
</script>
