<!DOCTYPE html>
<html>
<head>
  <title>GuaraCore</title>
  <%= stylesheet_link_tag    "guara_core/application", :media => "all" %>
  <%= javascript_include_tag "guara_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
