/* override bootstrap default variables */
$linkColor:      #cc0000;
$linkColorHover: #cc3333;
$navbarInverseBackground: #400;
$navbarInverseBackgroundHighlight: black;
$navbarHeight: 46px;

@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

/* Base */

html {
  overflow-y: scroll;
}

body {
  padding-top: ($navbarHeight+24);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

/*#ISSUE NAV~>*/
.navbar .nav { height: $navbarHeight; }

.navbar .nav > li > a {
	padding: ($navbarHeight - 20)/2 10px (($navbarHeight - 20)/2 + 1);
}

.navbar .brand {
	padding: ((($navbarHeight - 20) / 2) * 0.8) 20px ((($navbarHeight - 20) / 2) * 1.2);
}
/*#<~ISSUE NAV*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  height: auto;
  margin-bottom: 1px;
  @include box_sizing;
}

form .label {
	background: $white;
	color: $grayDark;
}

input, textarea, select {
	font-size: 13px;
	text-transform:uppercase;
	margin-top: -4px;
  padding: 3px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


ul {
	list-style-type: none ;
}

.inline {
	display: inline;
	display: inline-block;
	padding: 0px 3px 0px 3px ;
}

/* show views */

.show {
	.control-group {
		background: #f1f1f1;
		margin-top: 5px;
		padding-bottom: 10px;
		label {
			background: #ffffff;
			margin-bottom: 10px;
		}
	}
	
	.controls {
		min-height: 13px;
	}
}

.edit, .new {
	.control-group {
		background: inherit;
		margin-top: 5px;
		padding-bottom: 5px;
		label {
			background: #ffffff;
			margin-bottom: 5px;
		}
	}
	
	.controls {
		min-height: 13px;
	}
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}



/* Commons */

.well-compact {
	@extend .well;
	
	margin-top: 10px;
	padding: 10px;
}

/* formtastic */

fieldset.inputs ol {
	list-style: none;
}

fieldset.actions {

	.action {
		input {
			@extend .btn;
			@extend .btn-primary;
		}
	}
	
	ol {
		list-style: none;
		margin: 0;
	}
}

/*NOVAS FORMATAÇÕES*/


.controls input {
  height:30px;
}

#emails {
  width: 224px;
}

.modules {
  text-align:"left";
  margin-bottom: 0;
}

 .modules + legend {
  border-bottom: none;
  text-transform: uppercase;
}

  legend small {
    font-size: 22px;
    color: #999;
    border-bottom: none;
  }

  .row .controls > .checkbox:first-child {
    padding-top: 5px;
    margin-left: 20px;
  }

	.contacts .side .btn-group:first-child {
		float: left;
		margin-right: 10px;
	}
	
	.all-tasks .form-search .input-append .search-query {

	height: 30px;
	width: 300px;
	}