

.compact {
	margin: 0px;
	padding: 0px;
}

.content,
.content-mini,
.content-small,
.content-large,
 {
  display: block;
}

.content {
	margin: 10px 5px;
}

.content-small {
	margin: 5px 2px;
}

.content-mini {
	margin: 2px 1px;
}

.content-large {
	margin: 15px 8px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hand { 
	cursor:pointer;
}

.zindex1000 {
	z-index: 1000; 
}

.hidden {
	display: none;
	visibility: hidden;
}

.rows-nested .row {
	margin-left: 0;
}

ul.content {
  margin: 10px 5px;
	li {
		padding: 5px;
	}
}

.padding-mini {
	padding: 1px;
}

.padding-small {
	padding: 2px;
}

.padding {
	padding: 5px;
}

.padding-large {
	padding: 15px;
}

.left-margin {
	margin-left: 1.2345%;
}

.left-margin-large {
	margin-left: 5.2345%;
}

.left-margin-small {
	margin-left: 0.9345%;
}

.left-margin-mini {
	margin-left: 0.2897%;
}

.right-margin {
	margin-right: 1.2345%;
}

.right-margin-large {
	margin-right: 5.2345%;
}

.right-margin-small {
	margin-right: 0.9345%;
}

.right-margin-mini {
	margin-right: 0.2897%;
}

.block {
	width: 100%;
	display:block;
}

@import "bootstrap/variables";


.solid-color {
	background-color: $bodyBackground;

}
$rowHeight: 24px;

body section.container {
	margin-top: -26px;
}

body .navbar .navbar-inner .brand {
	font-weight: bold;
}

body .modal {
  width: 880px;
	margin: auto 0 0 -440px;
	
	form {
		margin: 0;
	}
	
	.actions {
    /* bottom: 15px; task button bad position */
    left: 10px;
    position: absolute;
	}
}

.divisor {
	width: 1px;
	min-height: 100px;
	height: auto;
	margin: 10px;
	background-color: #DADADA;
	float: left;
}

.column2 {
	border-left: 1px #DADADA solid;
	padding-left: 10px;
	margin-left: 10px;
}


.rows4 {
	height: (4*$rowHeight);
}

.rows5 {
	height: (5*$rowHeight);
}

.rows6 {
	height: (6*$rowHeight);
}

.rows7 {
	height: (7*$rowHeight);
}

.rows8 {
	height: (8*$rowHeight);
}

.link {
	text-decoration: underline;
	color: #08c;
}

/********************************************** CUSTOMER ******************************************/

.guara_customer {
	
	#emails {
		
		input {
			width: 180px;
		}
	
		legend small {
			color: $grayDarker;				
		}
		
		.remove_fields {
			float: right;
			margin-top: -45px;
			margin-right: 10px;
			height: 18px;
		}
		
	}
}

/************************************************ customer contacts ********************************/

.thumbnail.contacts {

}

.contacts.side {
	div#select_department {
		float: right;
		margin-top:-60px;
		.dropdown-menu {
			position: absolute;
			margin-left: -150px;
		}
	}
}

.contacts-list {

	overflow-y: scroll;
	max-height: 240px;	

	li {
		margin-bottom: 10px;
		border-bottom: 1px solid #EAEAEA;
		padding-bottom: 5px;
	}
}

.form-actions {
	margin: 0;
	padding: 0;
	border: 0;
}

/***** tasks *****/

.tasks {
	.disabled {
		display: none;
	}
	
	.enabled {
		display: block;
	}
	.side {
		.new {
			background-color: #f1f1f1;
		}
	}
}

.tasks.side {
	
	.tasks-list {
		margin: 0;
		li {
			border: 0;
			border-bottom: 1px solid #EEE;
		}
	}
	
	.new-link {
		margin: 10px 0 0 0;
	}
}

.task-side.form {
	.row {
	  margin-left: -5px;
	}
	
	[class*="span"] {
	float: left;
	margin-left: 5px;
	}
	
	.column2 {
		margin: 5px 5px 5px 15px;
	}
	
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.black {
	color: #000;
	font-weight: bold;
}