<navbar>
			<%= render :partial => "guara/jobs/jobs/navbar", 
      :locals => { active: :announcement_of_vacancies } %>
		</navbar>
		
<section class="show">
	<div class="">
		<ul class="thumbnails">
			<li class="span12">
			    <div class="thumbnail">
					<%= render :partial => 'details_initial_stage', :locals=> {:vals=> @vals} %>
				</div>
			</li>
	  		<li class="span12">
			    <div class="thumbnail">
			    	<%= render :partial => 'form' %>
				</div>
			</li>
		</ul>
	</div>	

	<%= link_to t('helpers.forms.back'), process_instance_path(@process_instance), :class => "btn" %>
</section>

