<navbar>
			<%= render :partial => "guara/jobs/jobs/navbar", 
      :locals => { active: :announcement_of_vacancies } %>
		</navbar>
		
<section class="show">
	<div class="offset1">
		<ul class="thumbnails">
			<li class="span9">
			    <div class="thumbnail">
					<%= render :partial => 'details_initial_stage', :locals=> {:vals=> @vals} %>
				</div>
			</li>
	  		<li class="span9">
			    <div class="thumbnail">
			    	<% if !@current_step.widget.nil? %>
			    		<%= render :partial => "guara/jobs/widgets/form_#{@current_step.widget}" %>
			    	<% else %>
			    		<%= render :partial => 'form' %>
			    	<% end %>
				</div>
			</li>
		</ul>
	</div>	
</section>

