/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

 .container-contacts table tr[contact-id], #customer-to-register tr, #customer-scheduled tr{
    cursor: pointer;
  }
  #customer-to-register tr:hover{
    background-color: #fff;
  }
  .container-customer .collapsed {
    height: 165px!important;
  }

  .container-customer {

    .thumbnail {
      position: relative;
    }

    .btn.more {
      border: 1px solid;
      padding: 5px;

      position: absolute;
      width: 20px;
      height: 10px;

      bottom: 0px;
      right: 0px;
      color: #eee;
      &:after {
        background: no-repeat url(/assets/glyphicons-halflings.png);
        width: 20px;
        height:  20px;
        content:  " ";
        position: absolute;
        left: 50%;
        margin-left: -7px;
        background-position: -288px -120px;
      }
    }

    .thumbnail.collapsed .btn.more {
      right: 0px;
      top: 148px;
      width: 100%;

      &:after { 
        background-position: -313px -119px;
      }
    }

    .container-thumbnails .container{
      width: 98%!important;
    }
    .autoscroll.block4{
      max-height: 240px;
    }
  }

.active_crm.customers {
  overflow: hidden;
  position: relative;
  list.span12 {
    margin-left: 0px;
  }
  .panel {
    position:relative;
    left:0;
    width:1900px;
    height: 100%;
    margin: 0;

    .list {
      margin: 0;
      /*display: inline;*/

    }
    .list tr {
      cursor: pointer;
      &:hover td {
        background-color: #049cdb;
      }
    }
  }
}


.custom-span3-medium{
  width: 270px;
}
.custom-span3-big{
  width: 280px;
}
.custom-span7-medium{
  width: 572px; 
}

#dialog-call .thumbnails{
  margin-left: 0px;
}

#deals-panel {
  position: relative;
  .details {
    display: none;

    position: relative;
    width: 100%;
    min-height: 300px;

    top: 0;
    margin-left: -5px;
    margin-top: -10px;
    padding: 5px;

    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;

    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;

    -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.9);
       -moz-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.9);
            box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.9);

    overflow: hidden;
    z-index: 1;

    .modules {
      font-size: 14px;

    }
  }


}