<% provide(:title, t("abilities.title", :skilled => @user_group.name )) %>
<h1><%=t("abilities.title", :skilled => @user_group.name ) %></h1>


<%= form_tag  user_group_abilities_path(@user_group), :method => :post, :class => "well abilities"  do %>

	<%= render :partial => "guara/abilities/grid_editable", :locals => { skilled: @user_group } %>
	
	<%= submit_tag t("helpers.forms.update"), class: "btn btn-large btn-primary" %>
	
<% end %>