

  <% if defined?(with_titles) && with_titles==true %>
<fieldset>
<table class="table table-bordered table-striped">
	<thead>
		<% inputs.each { |input,options| %>
		<th>
			<%= f.label input %>
		</th>
		<% } #end  %>
		<th></th>
	</thead>
	<tbody>
<% end %>

		<tr>
			<% inputs.each do |input,options| %>
			<% options[:label] = false   %>
			<td>
				<%= f.input input, options %>
			</td>
			<% end %>
			<td>
				<%= f.hidden_field :_destroy %>
				<%= link_to '#', class: "remove_fields btn btn-small" do %>
				<i class="icon-remove"></i>
				<% end  %>
			</td>
		</tr>

<% if (defined?(with_footer) && with_footer==true) %>	
	</tbody>
</table>
</fieldset>
<% end %>
