<tr deal-id="{{id}}">
    <td>{{customer_name}}</td>
    <td>{{date_start}}</td>
    <td>{{accepted_total}}</td>
    <td>{{scheduled_contacts_total}}</td>
    <td>{{scheduled_contacts_total}}</td>
</tr>