<tr {{#accepted}} class="success" {{/accepted}}>
  <td colspan="10">
    <table>
      <thead>
        <th><%= I18n.t('scheduled_contacts.result') %></th>
      </thead>

      <tbody>
        <td>{{}}</td>
      </tbody>
    </table>
  </td>
</tr>