<tr customer-id="{{customer_id}}" contact-id="{{contact_id}}">
  <td>{{customer_name}}</td>
  <td>{{contact_name}}</td>
  <td>{{scheduled_at}}</td>
  <td>{{activity}}</td>
  <td>{{activity}}</td>
</tr>