<div id="navbar-example" class="navbar navbar-static">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="/">Project Name</a>
      <ul class="nav">
        <li><a href="<%=process_instance_index_path%>">Recrutamento Seleção</a></li>
      </ul>  
    </div>
  </div>
</div>