<!DOCTYPE html>
<html>
<head>
  <title>GuaraCrm</title>
  <%= stylesheet_link_tag "guara_store/application", :media => "all" %>
  <%= javascript_include_tag "guara_store/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
