/*
 *= require_self
 *= require_tree ./jsplumb
*/

/* STYLE JOBS    */

.guara_jobs_professional {
	
		label[for=jobs_professional_have_job]{
		  float: left;
		}

		label[for=jobs_professional_have_job_true]{
		  float: left;
		  margin: -5px 0px;
		}
			#jobs_professional_have_job_true, #jobs_professional_have_job_false {width: 30px;}

		label[for=jobs_professional_have_job_false]{
		  float: left;
		}

		label{
		  float: left;
		  margin-right: 15px;
		}
	
		legend { border-bottom: none; line-height: 30px;}

	  	ul {margin:0; overflow: hidden;}

	  	ul li input{float: left; margin-right: 5px;}

	   #jobs_professional_vacancy_specification_attributes_salary_requirements_input{margin-top: 40px;float: left !important;}

	   #jobs_professional_vacancy_specification_attributes_salary_requirements { float: left !important; width: 350px; }

		.control-group {
			float: right;

	      .controls {
					float: right; 
	       	
				select {
					width: 500px;
				}
				
       	input { width: 500px; }
        input[name=""]{ width: 500px; }
       	select.span1 { width: auto; }
    
       select.span2 { width: auto; margin-left: 10px; margin-right: -10px;}

       textarea { width: 500px; }
			}
		}

	.date_select { float: right; margin-right: 269px;}

	fieldset {padding: 10px; position: relative;}


	.formation .remove_fields {
		position: relative;
		left: 682px;
		top: -40px;
		padding: 3px 6px;
		line-height: 17px;
	} 

	.professional_experiences #guara_jobs_professional_experience_remove {
	position: absolute;
	right: -19px;
	top: 6px;
	padding: 3px 6px;
	line-height: 17px;
	} 

  .remove_fields {
  	float: right;
    position: relative;
    left: 682px;
    top: -28px;
    padding: 0px 4px;
    line-height: 17px;
	} 

  .add_fields {
    position: relative;
    top: 34px;	
    width: 740px;
    margin-left: -20px;
  }


	.business-action{
		padding: 27px 30px 0px 28px !important;
	}

	.have_jobs {}


	.professional_experiences .add-careers {
	position: relative;
	top: -23px;
	width: 681px;
	margin-left: 0px;
	}

	.professional_experiences #guara_jobs_career_remove {
	padding: 3px 7px;
	line-height: 17px;
	background: none;
	float: right;
	}

	.add_fields {
		position: relative;
		top: 63px;
		width: 761px;
		margin-left: -28px;
	}

	.well {padding: 27px 33px 27px 25px	; margin-left: 0px; text-transform: uppercase;}

		.well .careers {
			margin-bottom: 30px;
		}

		.well ul {
			padding: 10px;
			margin-bottom: 10px;
			background-color: #eeeeee;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
		}

	.language ul {float: left; margin: 0 10px 10px 0;}
	.language-show ul {float: left; margin: -10px 10px 10px 0;}

	.page-header { border: none; margin: 10px 0 0px;}

	.guara_jobs_career_fields { 
		margin-bottom: 30px;
		font-size: 18px;
		font-weight: 200;
		line-height: 30px;
		color: inherit;
		background-color: #eeeeee;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}


	/* professional */

	#jobs_professional_have_job_input {
	float: left;
	}

	.controls_itens {
		float: left;
		margin-top: -5px;
		margin-left: 8px;
	}

	#jobs_professional_have_job_input {float: left !important;}
	#jobs_professional_have_job_sim {float: left; width: 25px !important;}
	#jobs_professional_have_job_no {float: left; margin: 4px 0px;; width: 25px !important;}

	.formation, .professional_experiences { overflow: hidden; padding-bottom: 50px;}

	input[type="submit"]{float: right;}

	.back_jobs {margin-top: 10px;}

	.back_jobs .btn {margin-top: -160px !important;}


	/*  STYLE SHOW  */

	dt{ float: left; display: block; margin-right: 5px;}

	li {text-decoration: none; margin-top: 10px; list-style-type: none;}

}
