
/* STYLE JOBS    */

form.guara_jobs_professional label[for=jobs_professional_have_job]{
  float: left;
}

form.guara_jobs_professional label[for=jobs_professional_have_job_sim]{
  float: left;
  margin: -5px -8px;
}

form.guara_jobs_professional label[for=jobs_professional_have_job_no]{
  float: left;
}

form.guara_jobs_professional label{
  float: left;
  margin-right: 15px;
}
 

form.guara_jobs_professional legend { border-bottom: none; line-height: 30px;}

  form.guara_jobs_professional ul {margin:0;}

    form.guara_jobs_professional ul li input{float: left; margin-right: 5px;}

  form.guara_jobs_professional #jobs_professional_vacancy_specification_attributes_salary_requirements_input{margin-top: 40px;float: left !important;}

  form.guara_jobs_professional #jobs_professional_vacancy_specification_attributes_salary_requirements { float: left !important; width: 350px; }

  form.guara_jobs_professional .control-group {float: right;}

    form.guara_jobs_professional .control-group .controls {float: right;}

    form.guara_jobs_professional .control-group .controls select { width: 500px; }

    form.guara_jobs_professional .control-group .controls input { width: 500px; }

    form.guara_jobs_professional .control-group .controls input[name=""]{ width: 500px; }


    form.guara_jobs_professional .control-group .controls select.span1 { width: auto; }
    
    form.guara_jobs_professional .control-group .controls select.span2 { width: auto; margin-left: 10px; margin-right: -10px;}

    form.guara_jobs_professional .control-group .controls textarea { width: 500px; }

  form.guara_jobs_professional .date_select { float: right; margin-right: 269px;}

  form.guara_jobs_professional fieldset {padding: 10px;}

  form.guara_jobs_professional .remove_fields {
    position: relative;
    left: 682px;
    top: -28px;
    padding: 0px 4px;
    line-height: 17px;
  } 

  form.guara_jobs_professional .add_fields {
    position: relative;
    top: 34px;
    width: 740px;
    margin-left: -20px;
  }

  form.guara_jobs_professional .well {padding: 19px 19px 0px 19px;}

  /* professional */

  #jobs_professional_have_job_input {
	float: left;
}

.controls_itens {
	float: left;
	margin-top: -5px;
	margin-left: 8px;
}

  #jobs_professional_have_job_input {float: left !important;}
  #jobs_professional_have_job_sim {float: left; width: 25px !important;}
  #jobs_professional_have_job_no {float: left; margin: 4px 0px;; width: 25px !important;}

form.guara_jobs_professional .formation, .professional_experiences { overflow: hidden; padding-bottom: 50px;}


form.guara_jobs_professional input[type="submit"]{float: right;}

form.guara_jobs_professional .back_jobs {margin-top: 10px;}

.back_jobs .btn {margin-top: -160px !important;}