<div style="padding:10px;padding-right:15px;">

    <ul class="thumbnails">
      <li class="span11">
        <div class="thumbnail">
            <div class="row-fluid">
                <div class="span7">
                    <div id="container_form_fields">

                    </div>
                    <button id="save_attrs_to_step" type="button" class="btn btn-primary">Salvar</button>
                </div>

                <div class="span5">
                    <div class="bs-docs-example">
                        
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#add_field" data-toggle="tab">Adicionar Campo</a>
                            </li>
                            <li>
                                <a href="#properties_fields" data-toggle="tab">Propriedades do Campo</a>
                            </li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                          <div class="tab-pane active fade in" id="add_field">
                            
                            <aside class="side-left">
                                <ul class="sidebar">
                                    
                                    <!--text_field-->
                                    <li>
                                        <a class="insert_elements" type-el="text" href="javascript:void(0);" title="text_field">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/text_field.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Caixa de Texto</span>
                                        </a>
                                    </li>

                                    <!--number_field-->
                                    <li>
                                        <a class="insert_elements" type-el="number" href="javascript:void(0);" title="number">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/number.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Campo Numérico</span>
                                        </a>
                                    </li>

                                    <!--select_field-->
                                    <li>
                                        <a class="insert_elements" type-el="select" href="javascript:void(0);" title="select">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/select.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Caixa de Seleção</span>
                                        </a>
                                    </li>
                                    
                                    <!--text_area-->
                                    <li>
                                        <a class="insert_elements" type-el="text_area" href="javascript:void(0);" title="text_area">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/text_area.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Caixa de Texto</span>
                                        </a>
                                    </li>

                                    <!--date_field-->
                                    <li>
                                        <a class="insert_elements" type-el="date" href="javascript:void(0);" title="date">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/date.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Data</span>
                                        </a>
                                    </li>

                                    <!--time_field-->
                                    <li>
                                        <a class="insert_elements" type-el="time" href="javascript:void(0);" title="date">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/time.png" height="22" width="22">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Hora</span>
                                        </a>
                                    </li>

                                    <!--phone_field-->
                                    <li>
                                        <a class="insert_elements" type-el="phone" href="javascript:void(0);" title="phone">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/phone.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Telefone</span>
                                        </a>
                                    </li>

                                    <!--price_field-->
                                    <li>
                                        <a class="insert_elements" type-el="price" href="javascript:void(0);" title="price">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/price.gif">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Valor Monetário</span>
                                        </a>
                                    </li>

                                    <!--widget_field-->
                                    <li>
                                        <a class="insert_elements" type-el="widget" href="javascript:void(0);" title="widget">
                                            <div class="helper-font-24">
                                                <i class="text_field">
                                                    <img src="/assets/img/widget.png" height="22" width="22">
                                                </i>
                                            </div>
                                            <span class="sidebar-text">Customização de Campo</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside>

                          </div>

                          <div class="tab-pane fade well" id="properties_fields">
                            
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </li>
    </ul>

</div>