<% provide(:title, t("customers.edit.title")) %>

<section id="edit">
	<%= render :partial => "navbar", :locals => { :active => :edit } %>

	<%= render :partial => "modules", :locals => { :active => :edit} %>

	<%= render "form"%>	

</section>

