<% provide(:title, t("customers.edit.title")) %>

<section id="edit">
	<%= render :partial => "/guara/customers/navbar", :locals => { :active => :professional } %>

	<%= render "form"%>	

</section>

