<% provide(:title, t("customers.edit.title")) %>

<section id="new">
	<%= render :partial => "navbar", :locals => { :active => :new } %>

	<%= render :partial => "guara/customers/modules", :locals => { :active => :professional} %>

	<%= render "form" %>
</section>



