<!DOCTYPE html>
<html>
<head>
  <title>GuaraCrm</title>
  <%= stylesheet_link_tag    "guara_crm/application", :media => "all" %>
  <%= javascript_include_tag "guara_crm/application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
