
/*
 *=require select2/select2.css
 */

#customer_show #title h1 {
	text-align: left;
}

.select2-container-multi .select2-choices .select2-search-field input {
	margin: auto;
	padding: auto;
	height: 30px;
	
}

#contactsListModal.modal.fade.in {
		top: 5%;
}
	
#contactsListModal.modal .modal-body {
		height: 520px;
}
