/*
 *= require guara/core
 *= require select2/select2.css
 *= require guara/bootstrap_custom
 */

#customer_show #title h1 {
	text-align: left;
}

.select2-container-multi .select2-choices .select2-search-field input {
	margin: auto;
	padding: auto;
	height: 30px;	
}

#customer_phone_input, #customer_phones_attributes_0_phone_input, #customer_phones_attributes_1_phone_input {
	float: left;
	width: 100px;
	input {
		padding: 3px;
	}
}

#contactsListModal.modal.fade.in {
		top: 5%;
}
	
#contactsListModal.modal .modal-body {
		height: 520px;
}

#task_notes {
	text-transform: none!important
}

.strong {
 	font-weight: bold;
}

#customer_show.show {
	
	h1, h2, h3, h4 {
		margin-bottom: 0px;
	}
	
	h2 {
		font-size: 1.4em;
		letter-spacing: -1px;
		text-align: inherit;
		font-weight: bold;
		color: inherit;
	}
	
	legend small {
		font-size: 16px;
	}
	
	p {
		font-size: 12px;
	}
	
	[class*="span"] {
		margin-left: 10px;
	}
	
}
