<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  
  <body>
    <% 
      email = "Nenhum Email Cadastrado"
      emails = @professional.person.emails
      if !emails.nil?
        email_first = emails.first()
        if !email_first.nil?
          email = email_first.email
        end
      end

    %>
	  <h1> <%= @professional.person.name %> </h1>
    <div class="control-group">
       <b>Fone: </b> <%= @professional.person.phone %> <br />
       <b>Email: </b> <%= email %>
	  </div>

    <div class="control-group">
       <b>Sintese: </b> <%= @interviewer_professional.synthesis %>
    </div>
  </body>
</html>