<%= javascript_include_tag "flot/jquery.flot", "flot/jquery.flot.selection", "flot/jquery.flot.categories" %>

<h3><%= raw t("jobs.vacancies.widget.title") %></h3>
<div id="vacancies_overview" style="width:600px;height:300px"></div>
<script language="javascript">
	<% 
		custom_process = Guara::Jobs::Vacancy.custom_process 
		if custom_process.nil?
			custom_process_id = 0
		else
			custom_process_id = custom_process.id
		end
	%>
  d = <%= 
  	raw Guara::Jobs::ProcessInstance
  		.select('max(date_finish-date_start) max, avg(date_finish-date_start) avg, min(date_finish-date_start) min')
  		.where(date_finish: 30.days.ago...(Date.today+1.day),
  				process_id: custom_process)
  		.first.attributes.map {|a,v| 
  			v = 0 if v.nil? 
  			[a,v] 
  		}.inspect

 %>;

  options = {
  			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
			xaxis: {
				mode: "categories",
				tickLength: 0
			}
		};

  $.plot($("#vacancies_overview"), [d], options);
</script>