<%
	@controller = Guara::Jobs::ProfessionalsController.new
	@controller.request = request
	@controller.response = response
	@controller.params = params
	res = @controller.search
	@professionals = @controller.searched_professionals
	@search = @controller.searched_search
%>
<style type="text/css">
.control-group .row{
	margin-left: 0px!important;
}
</style>
<div class="control-group">
	<%= render :partial => "guara/jobs/professionals/search_results" %>
</div>