<section id="active_crm">
	<h1><%= t("active_crm.scheduled.edit") %></h1>
  <div class="row-fluid">
    <div class="thumbnail span12">

      <div class="caption">
				<%= render 'form' %>
			</div>

			<%= link_to t('helpers.forms.show'), scheduled_path(@scheduled), class: "btn" %>
			<%= link_to t('helpers.forms.back'), scheduleds_path(), class: "btn" %>

		</div>
	</div>
</section>
