<section id="active_crm">
  <div class="row-fluid">
    <div class="thumbnail span9">

      <div class="caption">
        <%= render :partial => 'list_scheduleds' %>
        <%= render :partial => 'form' %>
        
      </div>

      <div class="span3">
        <div class="thumbnail">
          <div class="caption">
            <%= render :partial => 'form_search' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

