/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.row_orders_in {
	margin-left: 0px;
}


.products {
	width: 35%;
	float: left;
}

.total {
	width: 15%;
	float: left;
	margin-left: 10px;
}

.price {
	width: 15%;
	float: left;
	margin-left: 10px;
}

.price_total {
	width: 15%;
	float: left;
	margin-left: 10px;
}

.btn_remove_field_orders {
	margin-top: 20px;
	margin-left: 10px;
}