<style type="text/css">
	.custom-span3-medium{
		width: 270px;
	}
	.custom-span3-big{
		width: 280px;
	}
	.custom-span7-medium{
		width: 572px;	
	}
</style>
<ul class="thumbnails">
  	<li class="span4">
  		<div class="thumbnail">
			<%= render :partial => "show_contact.html.erb" %>
		</div>
	</li>

	<li class="custom-span7-medium">
		<div class="thumbnail">
			<%= render :partial => "form.html.erb" %>
		</div>
	</li>
