<%= semantic_form_for @vacancy_scheduling, 
:url => vacancy_scheduler_professional_path(@vacancy), 
:html => {:class => "well"}  do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.input :date_time, :as => :string, :input_html=> {"data-behaviour" => "datetimepicker"} %>
      <%= f.input :local %>
      <%= f.submit class: "btn btn-primary" %>
    </div>

  </fieldset>
<% end %>