<footer class="footer">
  <small>
    <a href="http://woese.com/" targe="_blank"><%= t("developer.link") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about.link"), main_app.about_path %></li>
      <li><%= link_to t("contact.link"), main_app.contact_path %></li>
      <li><a href="https://github.com/megabga/crm/issues"><%= t("support.link") %></a></li>
    </ul>
  </nav>
</footer>
